<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>CreateAccount</servlet-name>
    <jsp-file>/new-account.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccount</servlet-name>
    <url-pattern>/new-account.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginPage</servlet-name>
    <jsp-file>/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/login.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainPage</servlet-name>
    <jsp-file>/main-page.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPage</servlet-name>
    <url-pattern>/main-page.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuctionPage</servlet-name>
    <jsp-file>/auction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuctionPage</servlet-name>
    <url-pattern>/auction.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateAuctionPage</servlet-name>
    <jsp-file>/create-auction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAuctionPage</servlet-name>
    <url-pattern>/create-auction.jsp</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>PageNotFound</servlet-name>
  	<jsp-file>/404.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageNotFound</servlet-name>
    <url-pattern>/404.jsp</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/vendors/*</url-pattern>
  </servlet-mapping>
</web-app>