.section-not-found{
	padding-top: 30vh;
}

.icon-404{
	font-size: 400%;
}

.message{
	height: 100%;
	text-align: left;
}

.message p{
	margin: auto 0;
	display: inline-block;
}
.message div{
	margin: 15px 5px;
	display: block;
}
.message .error{
	color: #e53935;
	font-weight: 700;
	font-size: 120%;
}

.ion-happy-outline{
	color: #369660;
}