a:link,
a:visited{
	color: rgb(0,0,0);
}

a:hover, 
a:focus{
	color: #369660;
}

p{
	font-size: 80%;
}

section{
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 10px;
}

section:first-of-type{
	margin-top: 75px!important;
	padding-top: 0px;
}

section:not(:first-of-type){
	padding-top: 5px!important;	
}



.section-name{
	font-size: 120%;
	font-weight: 300;
	
}
/* ------------------------- 
	AUCTION SECTION
 -------------------------*/
 .item-image-and-name{
	border: none;
	border-radius: 0;
	height: 100%;
	border-right: 0.5px solid rgba(0,0,0,0.1);
	box-shadow: 1px 0 10px rgba(0,0,0,0.1);
	position: fixed;
	
	top: 0;
	left: 0;
	
	padding-top: 140px;
	text-align: center;
	overflow-y: scroll;
}

 header{
 	background-color: #fff;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
 }
 
.item-image{
	overflow: hidden;
	width: 100%;
	max-height: 50vh;
	border-radius: 5px;
}

.item-image img{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.section-name{
	text-transform: uppercase;
}

.section-auction{
	position: relative;
}



.item-name{
	margin-top: 30px;
	font-size: 180%;
	font-weight: 400;
	display:block;
}

.bid-form *{
	margin-top: 7px;
	margin-left: auto;
	margin-right: auto;
}

.amount-label{
	text-align: right;
	vertical-align: center;
}

.amount-label>label{
	padding-top:8px;
	font-size: 80%;
	display: inline-block;
}

.bid-amount{
	margin-left:0;
	max-width: 120px;
}
.make-bid-btn{
	width: 60%;
	font-size: 70%;
}

.seller-info{
	border-left: 1px solid rgb(156,219,183);
}

.seller-info>*,
.auction-info>*{
	margin-bottom: 15px;
}

.info-label{
	font-weight: 400;
}

.place-bid-confirmed,
.place-bid-ignore{
	width: 100%;
}

.permanent-info{
	padding-bottom: 25px;
}
div.current-bid{
	line-height: 100%;
	vertical-align: middle;
}
span.current-bid{
	margin-left: 10px;
	color: rgb(54,150,96);
	font-weight: 300;
	font-size: 120%;
}

.intermediate-info{
	padding-top:20px;
	border-top: 1px solid rgb(156,219,183);
}

/* ------------------------- 
	BID HISTORY
 -------------------------*/
.bidding-history{
 	padding-top: 20px;
}
.bid{
 	border: 1px solid rgba(54,150,96,0.4);
 	margin: 0px 0 ;
 	vertical-align: middle;
 	border-radius: 5px;
 	position: relative;
}
.bid:hover{
 	box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.link-bid{
	text-align: center;
	width: 100%;
	margin: 0 0;
	padding: 0 0;
}
.link-bid>div{
	height: 100%;
	padding: 0px 0px;
	margin: 0px 0px;
}
.link-bid .link{
	background-color: rgba(54,150,96,0.2);
	width: 10px;
	height: 30px;
	display: inline-block;
	margin: 0 auto;
	line-height: 40px;
}
 
.bid-elem>*:not(.small-profile){
 	line-height: 40px;
}
 .small-profile{
 	overflow: hidden;
 	height: 30px;
 	width: 30px;
 	margin: 5px auto;
 	border-radius: 50%;
 }
 
.small-profile img{
  	height: 100%;
}

