
html{
	font-weight: 400;
}

a:link,
a:visited{
	color: rgb(0,0,0);
}

a:hover, 
a:focus{
	color: #369660;
}

p{
	font-size: 80%;
}

section{
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 10px;
}

section:first-of-type{
	margin-top: 75px!important;
	padding-top: 0px;
}

section:not(:first-of-type){
	padding-top: 5px!important;	
}



.section-name{
	font-size: 120%;
	font-weight: 700;
	color: #1B4B30;
	
}
.section-name:after{
	content:"\00a0";
	display: block;
	height: 2px;
	width: 150px;
	background-color: #96D9B3;
	margin: 20px auto;
}

.container{
	border-width: 2px;
	box-shadow: 1px 1px 3px #266943;
}

/* ------------------------- 
	ITEM SECTION
 -------------------------*/
 
.item{
	padding: auto 40px;
} 

.item-desc-field{
	margin: 0 auto;
}

.item-desc-value{
	font-size: 80%;
	margin-bottom: 20px;
}

.item-info:not(:last-of-type){
	padding-bottom: 4px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
}
 
.item-info{
	padding-top: 4px;
}

.item-info-field{
 	text-align: left;
	padding-left: 40px;
	
}
 
/* ------------------------- 
	AUCTION SECTION
 -------------------------*/
 .item-image-and-name{
	border: none;
	border-radius: 0;
	height: 100%;
	border-right: 0.5px solid rgba(0,0,0,0.1);
	box-shadow: 1px 0 10px rgba(0,0,0,0.1);
	position: fixed;
	
	top: 0;
	left: 0;
	
	padding-top: 140px;
	text-align: center;
	overflow-y: scroll;
	z-index: 10;
}

 header{
 	background-color: #fff;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
 }
 
.item-image{
	overflow: hidden;
	width: 100%;
	max-height: auto;
	border-radius: 3%;
	margin: 0 auto;
}

.item-image>img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.section-name{
	text-transform: uppercase;
}

.section-auction{
	position: relative;
}

.item-name{
	margin-top: 30px;
	font-size: 180%;
	font-weight: 400;
	display:block;
}

.bid-form *{
	margin-top: 7px;
	margin-left: auto;
	margin-right: auto;
}

.amount-label{
	text-align: right;
	vertical-align: center;
}

.amount-label>label{
	padding-top:8px;
	font-size: 80%;
	display: inline-block;
}

.bid-amount{
	margin-left:0;
	max-width: 120px;
}

#amount{
	font-weight: 400;
}

.make-bid-btn{
	width: 60%;
	font-size: 70%;
	margin: auto auto;
	margin-top: 12px;

}

.sold-tag{
	margin-top: 10px;
	border: 2px solid #e53935;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 6px;
	font-size: 80%;
	font-weight: 400;
	padding: 3px 0;
}

/* AUCTION INFO */
.seller-info{
	padding: 10px 10px;
	border-left: 1px solid rgb(156,219,183);
	transition: border-radius 0.2s, background-color 0.2s;
}

.seller-info:hover{
	background-color: rgba(54,150,96,0.05) ;
	border-radius: 20%;
}
.seller-link>.row{
	display:inline-block;
}
.seller-img{
	border-radius: 50%;
	overflow: hidden;
	min-width: 80%;
	width: 50px;
	margin: 0 auto;
}
.seller-img img{
	width: 100%;
	height: auto;
}

.seller-name{
	display: block;
	margin-top: 20px;	
}

.seller-info>*,
.auction-info>*{
	margin-bottom: 15px;
}

.auction-info{
	vertical-align: middle;
}

.info-label{
	font-weight: 400;
}


.place-bid-confirmed,
.place-bid-ignore{
	width: 100%;
}

.permanent-info{
	padding-bottom: 25px;
}
div.current-bid{
	line-height: 100%;
	vertical-align: middle;
}

span.current-bid{
	margin-left: 10px;
	color: rgb(54,150,96);
	font-weight: 300;
	font-size: 120%;
}

span.current-bid.sold{
	color: #e53935;
}

div.current-bid.current-bid-on-top{
	position:fixed;
	padding-top: 20px;
	padding-bottom: 20px;
	top: 50px;
	left: 50vw;
	width: 30vw;
	z-index: 5;
	background-color: rgb(255,255,255);
	border-bottom: 0.5px solid rgba(0,0,0,0.1);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
	
	
}

.intermediate-info{
	padding-top:20px;
	border-top: 1px solid rgb(156,219,183);
}

.sold-date{
	margin-top: 15px;
}

/* ------------------------- 
	BID HISTORY
 -------------------------*/
.bidding-history{
 	padding-top: 20px;
}

.col-name{
	margin-bottom: 10px;	
}

.bid{
 	border: 1px solid rgba(54,150,96,0.4);
 	margin: 0px 0 ;
 	vertical-align: middle;
 	border-radius: 5px;
 	position: relative;
 	transition: box-shadow 0.2s;
}

.bid.recent-bid{
	box-shadow: 0 0 8px rgba(150, 167, 214,0.9);
}
.bid:hover{
 	box-shadow: 0 0 4px rgba(150, 167, 214,0.9);
}

.link-bid{
	text-align: center;
	width: 100%;
	margin: 0 0;
	padding: 0 0;
}
.link-bid>div{
	height: 100%;
	padding: 0px 0px;
	margin: 0px 0px;
}
.link-bid .link{
	background-color: rgba(54,150,96,0.2);
	width: 10px;
	height: 30px;
	display: inline-block;
	margin: 0 auto;
	line-height: 40px;
}
 
.bid-elem>*:not(.small-profile){
 	line-height: 40px;
}
.small-profile{
 	overflow: hidden;
 	height: 30px;
 	width: 30px;
 	margin: 5px auto;
 	border-radius: 50%;
 }
 
.small-profile img{
  	height: 100%;
}

.user-link{
	display: block;
	width: 100%;
	height: 100%;
	
}
