.login-section {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url("img/login-bg.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	min-height: 100vh;
}

.login-section .title {
	font-size: 300%;
	color: #369660;
	margin: 10px auto 20px auto;
}

.login-section .container {
	background-color: rgba(255, 255, 255, 0.65);
}

.signinfield {
	margin: 2% auto;
}

.signinfield div label {
	display: inline-block;
	vertical-align: middle;
}

.signinfield div:first-child {
	text-align: right;
}

.container .btn-important {
	margin-bottom: 30px;
}

.register-link {
	display: block;
	color: #000;
	font-size: 80%;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
}

@media screen only and(max-width: 484px ){
	
	
}
