input,
label,
a:link,
a:active,
span,
.leftLabel,
.rightLabel,
select{
	font-size: 70%;
}

body{
	overflow:hidden;
}

label{
	transition: color 0.2s;
	width: inherit;
}

label:hover{
	color: #369660;
}

/* -----------------------------*/
/*           HEADER SECTION     */
/* -----------------------------*/

header{
	background-color: #fff;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

/* -----------------------------*/
/*           FILTER SECTION     */
/* -----------------------------*/
.section-filter input[type=text]{
	border-color: #9cdbb7;
}

.section-filter{
	float: left;
	width: 30%;
	overflow: hidden;
}

.section-filter>.section-filter-elem:not(first-child){
	margin-top: 15px;
}

.section-filter>.container-with-tabs>div{
	padding-left: 10px;
	padding-right: 10px;
}

.section-filter .btn{
	font-weight: 400;
}

.item-filter{
	max-height: 50vh;
	overflow-y: scroll;
	margin: 10px 0;
	border-radius: 3px;
	padding: 0 10px;
}

.item-filter:hover{
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
.filter-sub-section{
	margin: 15px 0;
}
.filter-sub-section div{
	text-align: left;
}

.create-auction a,
.create-alert a{
	text-align: center;
	text-decoration: none;
}

.create-alert{
	margin-bottom: 3px;
}

.search-btn{
	margin: 0 auto;
}
/* -----------------------------*/
/*           RESULT SECTION     */
/* -----------------------------*/
.section-result{
	float: left;
	width: 70%;
	max-width: 900px;
	overflow: hidden;
}

.section-result .container{
	min-height: 70vh;
}

.section-result:before{
	content: "Search Results";
	padding-bottom: 10px;
	display: block;
}

footer{
	position: relative;
}

/*     ITEM  RESULT SECTION     */


.res-item,
.res-user{
	text-align:center;
	padding: 10px 10px;
	transition: border 0.3s, background-color 0.3s;
	border: 1px solid transparent;
}

.res-item:hover,
.res-user:hover{
	border: 1px solid rgba(54,150,96,0.06);
	border: 2%;
	background-color: rgba(54,150,96,0.04);
}
.res-item .item-name,
.res-user .res-user-name{
	color: #369660;
	font-size: 130%;
}
.res-item .item-img,
.res-user .res-user-img{
	width: 100%;
	text-align:center;
	overflow: hidden;
	margin-bottom: 10px;
}

.res-item .item-img{
	padding: 0 20px;
	height: 150px;
}

.item-img img,
.res-user-img img{
	width: 100%;
	height: auto;
}

.res-user-img img{
	display: block;
	margin: auto auto;
}

.res-user .res-user-img{
	border-radius: 50%;
	
}


